<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{# url_for('static', filename='css/style.css') #}" />
    <title>Ошибка</title>
    <style>
    .form-control
    {
    margin: 2%;
    background: #cfcfcf;
    }
    .center-img {
    display: block;
    margin: 0 auto;
    }
    </style>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/home" class="navbar-brand d-flex align-items-center">
        <strong>Hype shop</strong>
      </a>
    <a href="/profile">
        <button style="margin-left: 800px">Профиль</button>
    </a>
    </div>
    </div>
</header>
<h2 style="margin-left: 420px">Оййй.. Такой страницы нет...</h2>
<img src="/static/img/pepe.png" class="center-img" height="400px" alt="Здесь должна была быть картинка, но не нашлась">
<div>
    <a href="/home">
        <button style="margin-left: 600px" type="submit" class="btn btn-primary">На главную</button>
    </a>

</div>
</body>
</html>

