<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{# url_for('static', filename='css/style.css') #}" />
    <title>Регистрация</title>
    <style>
    .form-control
    {
    margin: 2%;
    background: #cfcfcf;
    }
    h1
    {
    margin: 2%;
    }
    #login
    {
    width: 500px;
    }
    #password
    {
    width: 500px;
    }
    #mail
    {
    width: 500px;
    }
    </style>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>Hype shop</strong>
      </a>
    <a href="/profile">
        <button style="margin-left: 800px">Профиль</button>
    </a>
    </div>
    </div>
</header>
<h1 style="margin-left: 250px">Регистрация </h1>
<div>
    <form class="login_form" method="post">
        <h4 style="margin-left: 250px">Адрес электронной почты:</h4>
        <input style="margin-left: 250px" type="email" class="form-control" id="mail" placeholder="Введите адсер эл. почты" name="mail" required>
        <h4 style="margin-left: 250px">Имя пользователя:</h4>
        <input style="margin-left: 250px" type="text" class="form-control" id="login" placeholder="Введите имя пользователя" name="login" required pattern="[a-zA-Z0-9]{3,10}" title="Любй логин латиницей, от 3 до 10 символов">
        <h4 style="margin-left: 250px">Пароль:</h4>
        <input style="margin-left: 250px" type="password" class="form-control" id="password" placeholder="Введите пароль" name="password" required minlength="4" maxlength="100" title="От 4 до 100 символов латиницей и цифры">
        <button style="margin-left: 250px" type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    <h4 style="margin-left: 250px">{{ warning }}</h4>
    <a href="/login">
        <button style="margin-left: 250px" type="submit" class="btn btn-primary">У меня уже есть аккаунт</button>
    </a>
</div>
</body>
</html>